<div id="nav_bar">
    <a href="/">Home</a> | <a href="/about">About</a>
    <span style='float:right; margin-right:30px'><a href="/logout" class="thin">Logout</a></span>
</div>

<div id="full_results">
    
    <div id="photo_pile">
        <img src="/photorow/0.png" />
        <img src="/photorow/12.png" />
        <img src="/photorow/15.png" />
        <img src="/photorow/19.png" />
        <img src="/photorow/3.png" />
        <img src="/photorow/6.png" />
        <img src="/photorow/5.png" />
        <img src="/photorow/blank.png" />
    </div>
    
    <!-- individual stats -->
    <% if @current_user && !@current_user.attempts.blank? %>
        <% if params[:ts] %> 
            <h1 id="this_time_score" class="top-title">You scored 
                <span class="score"><%= to_pct_with_places(@my_score,1) %></span>
                <a href="/" class="button round green arrow snice">Play Again</a>
            </h1> 
        <% end %>
        <% if @my_score != @my_agg_score || !params[:ts]%> 
            <h1 class="top-title">Your overall score is 
                <span class="score"><%= to_pct_with_places(@my_agg_score,1) %></span>
            </h1>
        <% end %>
        
        <!-- FB share button --> 
        <div id="share_line">
             <span class="giant_hand">☞</span>
            <div id='share_on_facebook' class='facebook-button large'><span class='button-text'>Share my score!</span></div>
        </div>
        
        <!-- [ pie chart]  -->
        <%= render :partial => '/charts/pie', :locals => {
                :id => 'indiv', 
                :known => @correct_attempts.count, 
                :unknown => @incorrect_attempts.count, 
                :ctitle => "You knew #{@correct_attempts.count} of #{@curr_attempts.count} friends presented." 
        }%>
        
        <!-- Un-named Friends --> 
        <h4>You could not name the following friends:</h4>
        <div id="missed_friends">
        <% @incorrect_attempts.each do |f| %>
            <a href="http://facebook.com/<%= f.target_facebook_id %>/" target="_blank" class="friend_box">
                <div class="image_crop">
                    <img src="http://graph.facebook.com/<%= f.target_facebook_id %>/picture?type=large">
                </div>
                <%= f.actual_name %>
            </a>
        <% end %>
        <div class="clearfix">&nbsp;</div>
        </div>
        <div class="clearfix">&nbsp;</div>
        
        <!-- Suggestive stats -->
        <h4 class="section">Have you adjusted your default privacy settings?</h4> 
        <p>
            Remember, information you share with your friends is distributed to:
            <strong><%= number_with_delimiter(@current_user.friend_count.to_s) %> people</strong>.
        </p>   
        <p>
            Did you know that your friends can give up <em>your</em> personal 
            information to 3rd party applications with a single click? <br />
            Do you trust <strong>all <%= @current_user.friend_count / 100 %>-hundred</strong> 
            of them to consistently make good decisions?
        </p>
        <p>
            What's more: the information you share with 'friends of friends' 
            is distributed to around:<strong> <%= number_with_delimiter(@fof_count.to_s) %> people</strong>.
        </p>
        <p>
            And you are in the following <strong>networks</strong>:
            <% @my_affiliations.each do |a| %>
                <br />&nbsp;&nbsp;&nbsp;&nbsp;<%= a[:name] + " - where you knew "+ to_pct_with_places(a[:accuracy].to_f ,1) + " of your friends presented" %>
            <% end %>
            <br />
            But those networks are FAR larger than your immediate friend group.
        </p>
        <p>
            Finally, recall that data shared publicly on Facebook goes out to:
            <strong>800,000,000,000 people...</strong>  
        </p>
        <p>
            But you're probably fine... <br />What's the <a href="http://www.takethislollipop.com/">worst</a> that could happen?
        </p>
        <br /><br />
        <hr />
    <% end %>
    
    
    <!--  Aggregate Stats -->
    <h1>The average Facebook user <br />knows <span class="score"><%= to_pct_with_places(@overall_correct_pct,1) %></span> of their friends.</h1>
    
    <!-- [ pie chart]  -->

        
    <table>
    <tr><th>Age</th><th>Male</th><th>Female</th><th> Total </th></tr>
    <% @breakdown.group_by{|d| d["age"]}.each do |age,data| %>
    	<% next if(age.nil?) %>
    	<tr>
	    	<td class="title"><%= age %></td>
	    	<td><%= tally_data(data,"male") %></td>
	    	<td><%= tally_data(data,"female") %></td>
	    	<td><%= tally_data(data,"all") %></td>
    	</tr>
    <% end %>
    <tr><td class='title'>Totals</td><td><%= tally_data(@breakdown,"male") %></td><td><%= tally_data(@breakdown,"female") %></td><td><%= tally_data(@breakdown,"all") %></td></tr>
    </table>
    <div class="caption">Above: the percentage of 'friends known' is broken down by age and gender.</div>
    <br />
    
    
    <table>
      <tr><th></th><th>Male Friends</th><th>Female Friends</th><th>Total</th></tr>
      
      <% @gender_gender_breakdown.group_by{|d| d["user_gender"]}.each do |gender,data| %>
    	<% next if(gender.nil?) %>
    	<tr>
			<td class='title'><%= gender.capitalize %> User</td>
			<td><%= tally_data(data,"male") %></td>
			<td><%= tally_data(data,"female") %></td>
			<td><%= tally_data(data,"all") %></td>
      	</tr>
      <% end %>
      </table>
      <div class="caption">Above: Are guys more likely to friend girls on a whim?</div>
      <br />
    
    
    <!-- Call to action -->
    <h1>Okay, so what should I do? 
        <% if !@current_user || @current_user.attempts.blank? %>
         <a href="/" class="button round green arrow snice bottom">Test yourself</a>
        <%end %>
     </h1>
    <ol id="next_steps">
        <li>Get <a href="https://www.facebook.com/help/?faq=172936839431357#How-do-I-unfriend-or-delete-a-friend?">un-friendin'</a></li>
        <li>Create layered
            <a href="https://www.facebook.com/help/?faq=190416214359937#How-do-I-create-and-edit-lists?">
            friend lists</a> with different privacy settings to
             more accurately represent and control your relationships.
        </li>
        <li>
            <a href="https://www.facebook.com/help/?faq=117646641653775#Why-aren’t-all-of-my-friends-visible-while-using-a-certain-app?">
                Restrict</a> what (if any) of your personal information 
                your friends can share with 3rd party apps.
        </li>
        <li id="social_links">
            Spread the word!
            <div>
                <a href="http://www.whatsherface-book.com" class="twitter-share-button" data-url="www.whatsherface-book.com" data-text="WhatsHerFace-book.com - Do you even know all your FB friends anymore!?! Methinks its time to do a little unfriendin'... #FB" data-count="horizontal" data-related="baygross:charliecroom" data-via="baygross">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
            </div>
            <div>
                <iframe src="//www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/WhatsHerFacebook/195383003882500&amp;send=false&amp;layout=button_count&amp;width=62&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=71" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </li>
    </ol>
    
    <div id="bottom_spacer">&nbsp;</div>
</div>