<div id="nav_bar">
    <a href="/">Home</a> | <a href="/about">About</a>
    <span style='float:right; margin-right:30px'><a href="/logout" class="thin">Logout</a></span>
</div>

<div id="full_results">
    
    <!-- individual stats -->
    <% if @current_user && !@current_user.attempts.blank? %>
        <h1>You scored <span class="score"><%= @my_score %>%</span></h1>
        <h1>Your overall score is <span class="score"><%= @my_agg_score %>%</span></h1>
 
        <h4>You could not name the following friends:</h4>
        <% @incorrect_attempts.each do |f| %>
            <a href="http://facebook.com/<%= f.target_facebook_id %>/" target="_blank" class="friend_box">
                <div class="image_crop">
                    <img src="http://graph.facebook.com/<%= f.target_facebook_id %>/picture?type=large">
                </div>
                <%= f.actual_name %>
            </a>
        <% end %>
        <div class="clearfix">&nbsp;</div>
    
        <!-- Suggestive stats -->
        Have you checked your default sharing levels yet?<br /><br />
    
        Things you share with all your friends are distributed to about:<br />
        <%= @current_user.friend_count %> people <br /><br />
    
        		Did you know? That friends can give <em>your</em> personal information to applications? 
        		Do you trust all <%= @current_user.friend_count %> of them to make good decisions. Stay in control of your data and uncheck XXXXXXXXXX<br /><br />
    
        Things you share with friends of friends are distributed to around:<br />
        <%= @fof_count %> people<br /><br />
    
        In addition, you are in the following networks:
        <% @my_affiliations.each do |a| %>
            <%= a[:name] + " - " + a[:accuracy] + "%" %> accuracy in this network (<%= a[:attempts] %> attempts)<br />
        <% end %>
        <br />
        But those networks are MUCH larger than the number of friends in them, do you really want to be sharing information with everyone?
        <br /><br />
    
        And finally, data shared with anyone on Facebook goes out to:
        800,000,000,000 people...
        <br /><br />
    
    <% end %>
    
    
    <!--  Aggregate Stats -->
    <h4>The average user knows <span class="score"><%= @overall_correct_pct %>%</span> of their friends.</h4>
    [ graph ]
    [ interesting commentary.. ]
    <br />
    [ fb share buttons w/ badge?   get at me virality.]
</div>